/* Web Fonts -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

/* Base Styles -------------------- */
* {
	box-sizing: border-box;
}

body {
	font-family: Roboto;
	color: #4d4d4d;
}

a {
	text-decoration: none;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 16px;
	padding-bottom: 16px;
}

p {
	font-weight: lighter;
}

a,
h1,
h2,
#footer-name {
	font-weight: bold;
	color: #4d4d4d;
}

h2 {
	text-transform: uppercase;
	font-size: 1em;
	margin-top: 50px;
	margin-bottom: 20px;
}

h2,
h3 {
	text-align: center;
}

h3 {
	margin-top: 35px;
}

img {
	max-width: 100%;
}

/* Main Styles --------------------- */
.main-header,
.main-footer,
.bottom-container {
	text-align: center;
	background-color: #f2efed;
}

.main-header {
	padding-bottom: 30px;
}

.main-header img {
	margin-bottom: 20px;
}

.main-footer {
	margin-top: 70px;
}

.main-nav {
	margin-bottom: 50px;
}

.main-nav a {
	text-transform: uppercase;
	display: block;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

ul {
	list-style: none;
	margin: auto;
}

/* Floated Elements ------------------ */
#footer-name {
	float: left;
}

#footer-link {
	float: right;
}

/* Layout Styles ------------------ */
.container {
	padding-left: 1em;
	padding-right: 1em;
}

.portfolio-container {
	text-align: center;
	margin-bottom: 40px;
}

#profile-text {
	color: #a6a6a6;
}

.bottom-container {
	border-top: 1px solid #999999;
	margin-top: 50px;
}

.bottom-nav {
	display: none;
}

.skills-list {
	text-align: center;
}

.skills-list li {
	display: inline-block;
	margin-left: 0.4em;
	margin-right: 0.4em;
	padding: 0.4em;
	background-color: #f5695f;
	border-radius: 10%;
}

/* Pseudo-classes ------------------ */
a:hover {
	color: rgba(191, 71, 11, 0.4);
}

/* Float Clearfix ------------------ */
.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

/* Media Queries -------------------- */
@media (min-width: 768px) {
	.main-nav li {
		display: inline-block;
		margin-left: 30px;
	}

	.container {
		padding-right: 1.3em;
		padding-left: 1.3em;
	}

	.col {
		float: right;
		width: 50%;
	}

	.portfolio-container {
		float: left;
		width: 50%;
		margin: auto;
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-top: 50px;
	}

	#profile-text {
		text-align: left;
		margin: 0;
		padding-right: 30px;
	}

	.main-nav a {
		background-color: #f2efed;
	}

	#footer-link {
		display: none;
	}

	.bottom-nav {
		display: block;
		float: right;
	}

	.bottom-nav li {
		font-weight: bold;
		display: inline-block;
		margin-left: 30px;
		margin-top: 16px;
	}

	.bottom-container {
		padding-bottom: 15px;
	}
}

@media (min-width: 1024px) {
	.col {
		text-align: right;
	}

	.container {
		padding-right: 4em;
		padding-left: 4em;
		padding-top: 30px;
	}

	.portfolio-container {
		float: left;
		width: 33%;
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-top: 25px;
	}

	#name {
		float: left;
	}

	.main-nav {
		float: right;
	}
}
